small + small {
    display: none;
}


input:valid + small + small {
    display: inline;
}

input:valid + small {
    display: none;
}

/* .second-page {
    margin-left: 45%;
}

.home {
    margin-left: 47%; */
}
/* .pic {
    display: none;
    margin-left: 35%;
    margin-top: 35px;
}

button:active + .pic {
    display: block;
} */

@media (max-width: 768px) {

    .cont {
        width: 100%;  
        height: 650px; 
    }

    .nav {
        display: none;
    }
    
    .logo {
        margin-left: 28%;
        font-size: x-large;
        font-weight: bolder;
    }

    
    .second-page {
        margin-left: 32%;
    }

    .home {
        margin-left: 40%;
    }
}
