small + small {
    display: none;
}


input:valid + small + small {
    display: inline;
}

input:valid + small {
    display: none;
}

.second-page {
    margin-left: 45%;
}

/* .pic {
    display: none;
    margin-left: 35%;
    margin-top: 35px;
}

button:active + .pic {
    display: block;
} */
